*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container{
  display: flex;
  flex-direction: row;
  
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;

}
#headingcontent{
  margin-bottom: 90px;
  height: 50px;
  padding: 0;
  
}
#contactform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 3px solid black;
  margin-top: 10%;
  height: 400px;
  border-radius: 30px;
  
}
input{
  outline: none;
  border: none;
  border-bottom: 2px solid green;
  padding: 1em 0 0.5em 0.5em;
  font-size: 18px;


}
textarea{
  outline: none;

}
#submit{
  width: 200px;
  height: 50px;
  padding: 20px;
  border: 2px solid green;
  border-radius: 20px;
  margin-bottom: 5px;
  background-color: green;
  color: white;
}

#submit:hover{
background-color: rgb(61, 223, 61);
}
.heading h1{
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(110, 110, 168);

}

.heading #h1head{
  color:  rgb(42, 42, 168);
  font-size: 3rem;
}
 #para p{
  font-family:serif;
  font-weight: 500;
  word-wrap: wrap;
  

}
#para p::first-letter{
  font-size: 20px;
}

#para p::selection{
  background-color: rgb(47, 185, 47);
}