<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="contactus.css">
  <title>Contact us</title>
</head>
<body window.onload="alertload()">
  <div id="container">
    <div class="contactusimg">
      <img src="contact-image.jpg" alt="contact us Doctor Image" height="600px">
    </div>
       <div id="formcontainer">
        <div id="headingcontent">

          <div class="heading"> 
            <h1> <span id="h1head">C</span>ontact Us</h1>
          </div>

          <div id="para">
            <p> Our Hospitals is always looking to make things easier for you. Our aim is to provide our customers <br>with the best medical facilities, constant care, and reliable support. If you would like to get in <br>touch with a doctor from a specific department, would like some specific information about the 
              <br>services we provide, or just have a question for us, please fill up the Form given below and we will get back to you.</p>
          </div>

</div> 
            <form action="" id="contactform">
            <h1>Fill The form</h1>  
            <input type="text" id="name" name="name" placeholder="FullName">
            <input type="email" placeholder="Email" id="email" name="email">
           <input type="tel" placeholder="Mobile Number" id="mobilenumber">
            <textarea name="Comments" id="" cols="30" rows="10" placeholder="Enter A Comments" class="default-text">Enter your comments here... </textarea>
            <input type="submit" value="Submit" id="submit">
         
          </form>
       </div>
  </div>
  <script type="module" src="javascript folder/contactus.js"></script>
  
</body>
</html>